body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#myPar {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: rgb(250, 250, 250);
  margin-top: 10px;
}